.auth-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 800px;
  // width: 100%;
  // border: 1px solid black;
}

.Modal {
    // position: absolute;
    // top: 20%;
    // left: 37%;
    // right: 37%;
    width: 440px;
    margin: 150px auto;
    // border: 1px solid black;
    // transform: translate(100%, 50%);
  }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.auth-form-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 420px;
  width: 420px;
  padding: 10px;
  background-color: white;
}

.login-signup-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 40px;
  padding: 20px;
  margin-top: 20px;
  color: #6441A4;

  h3 {
    padding: 0 20px;
  }
}

.errors {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 60px 40px 60px;
  // border: 1px solid black;

  label {
    color: #3F2968;
    font-weight: bold;
  }

  label:last-of-type {
     padding: 7% 0 0 0;
  }

  input {
    background-color: white;
    width: 100%;
    height: 30px;
    border: 1px solid #3F2968;
  }

}

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 15% 10% 15%;
  border-top: 4px solid #6743A7;
}

.auth-buttons > input, .auth-buttons > button {
  background-color: #6441A4;
  // border: 1px solid darkgrey;
  width: 100%;
  color: white;
	font-weight: bold;
	padding: 7px 0;
  margin: 5px 0;
	transition: background-color 0.3s;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
  box-shadow: 1px 1px 1px #37245B;
}

.auth-buttons > input:hover, .auth-buttons > button:hover {
  background-color: #3F2968;
  box-shadow: 0px 0px 0px #37245B;
}

.active {
  pointer-events: none;
  font-weight: 900;
}
