.Customize-Modal {
  margin: 5% auto;
  width: 1200px;
  height: 730px;
  background-color: white;
  // border: 1px solid blue;

  .customize-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    #close-form {
      display: flex;
      justify-content: flex-end;
      // border: 1px solid black;
    }
  }
}
