.channel-detail-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  // justify-content: center;
  width: 100%;
  min-width: 600px;
  height: 100%;
  overflow: hidden;
  // border-top: 1px solid black;

  .channel-detail-nav {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color: #faf9fa;
    border: 1px solid #E0E0E0;
    color: #7957C8;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;
    // padding: 20px 0;
    // height: 25px;
    white-space: nowrap;

    #img-placeholder {
      min-width: 125px;
      // border: 1px solid black;

      img {
        position: absolute;
        top: -40px;
        left: 50px;
        width: 75px;
        height: 75px;
        border: 2px solid #7957C8;
      }
    }

    h2 {
      font-weight: bold;
    }

    h3:first-of-type {
      font-style: italic;
    }

    h2, h3 {
      border-right: 1px solid #C4C4C4;
      padding: 5px 3%;
      margin: 5px 0;
    }

    h3:last-of-type {
      border: 0;
    }

    #follow-customize-button-container {
      display: flex;
      justify-content: flex-end;
      // border: 1px solid black;
      flex: 1;

      button {
        background-color: #6441A4;
        padding: 5px 30px;
        transition: background-color 0.3s;
        font-size: 12px;
        text-align: center;
        box-shadow: 1px 1px 1px #37245B;
        color: white;
        margin-right: 24px;
      }

      button:hover {
        background-color: #281A41;
        box-shadow: 0px 0px 0px #37245B;
      }
    }

  }

  #channel-video-container {
    width: 95%;
    // height: 95%;

    span {
      display: block;
      width: 100%;
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:auto;
      overflow:hidden;

      #channel-video, .no-vid, img {
        // border: 1px solid #4B367C;
        position:absolute;
      	top:0;
      	left:0;
      	width:100%;
      	height:100%;
      }
    }

    #channel-video-description {
      margin-top: 5px;
      height: 75px;
      padding: 5px 10px 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: #7957C8;
      background-color: #faf9fa;
      border: 1px solid #E0E0E0;

      #channel-info {
        width: 75%;

        h3 {
          font-weight: bold;
        }

        p {
          font-size: 12px;
          font-weight: lighter;
        }
      }

    }

  }
}
