// Place all the styles related to the Api/Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-placeholder {
  min-width: 340px;
  // height: 100%;
  background-color: #FAF9FA;
  border-left: 1px solid #DEDDDE;
  z-index: -1;
}

.chatroom-container {
  position: fixed;
  // margin-top: 10px;
  right: 0;
  min-width: 340px;
  height: calc(100% - 40px);
  background-color: #FAF9FA;
  border-left: 1px solid #DEDDDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  // border: 1px solid black;

  #chat-title {
    margin-top: 14px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #DEDDDE;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: lighter;
      font-size: 12px;
    }
  }

  .chat-windows {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;

    #chat-display {
      max-height: 100%;
      // height: 80%;
      font-size: 12px;
      flex: auto;
      width: 100%;
      // display: flex;
      // align-items: flex-end;
      padding: 10px;
      box-sizing: border-box;
      overflow-y: hidden;

      ul {

        .chat-item {
          margin: 2px 0;
          font-weight: lighter;

          strong.colored {
            font-weight: bold;
            color: #FF4FC5;
          }

          strong.not-colored {
            font-weight: bold;
            color: #6743A7;
          }
        }
      }
    }

    #chat-display:hover {
      overflow-y: scroll;
    }

    #chat-input {
      width: 100%;
      margin-bottom: 30px;

      textarea {
        border: 1px solid #dad8de;
        background-color: white;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 5px;
        resize: none;
        font-size: 12px;
      }

      textarea:focus {
        border:1px solid #8B64E5;
        box-shadow: 0 0 5px #719ECE;
      }

      #send-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          background-color: #6441A4;
          color: white;
          padding: 5px 13px;
          margin: 2px 0;
          transition: background-color 0.3s;
          font-size: 12px;
          text-align: center;
          box-shadow: 1px 1px 1px #37245B;
        }

        button:hover {
          background-color: #281A41;
          box-shadow: 0px 0px 0px #37245B;
        }
      }
    }
  }
}

@media (max-width: 100vh) {
  #chat-placeholder, .chatroom-container {
    min-width: 0;
    width: 0;
    display: none;
  }
}
