// Place all the styles related to the api/featured controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#featured-container {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  #featured {
    border: 1px solid #4B367C;
    margin-top: 30px;
    // width: 100%;
  }

  #no-vid {
    width: 960px;
    height: 540px;
    border: 1px solid #4B367C;
  }

  #featured-description {
    background-color: #4B367C;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

    #profile-image {
      height: auto;
      width: 75px;
      // border: 1px solid #402968;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    #featured-stream-info {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-top: 25px;
      width: 700px;
      // border: 1px solid red;

      strong {
        font-weight: bold;
        // font-size: 16px;
      }

      #stream-name {
        font-style: italic;
      }

      p {
        font-weight: lighter;
        font-size: 12px;
        // border: 1px solid blue;
      }
    }

    .go-to-channel {
      font-weight: lighter;
    }

    .go-to-channel:hover {
     text-decoration: underline;
    }

  }

}
