#follow-bar-placeholder {
  min-width: 240px;
  height: 100%;
  background-color: #19171C;
}

.follow-container {
  position: fixed;
  min-width: 240px;
  height: 100%;
  z-index: 1;
  background-color: #19171C;
  display: flex;
  justify-content: center;
  // margin-right: 30px;
  background-attachment: fixed;

  .follow-bar {
    width: 90%;

    h2 {
      color: white;
      padding: 20px 0 13px 0;
      font-weight: lighter;
      border-bottom: 1px solid #514B5B;
    }
  }
}
