#follow-bar-placeholder {
  min-width: 240px;
  // height: 100%;
  background-color: #191229;
  z-index: -1;
}

.follow-container {
  position: fixed;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  background-color: #191229;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b8b5c0;
  margin-bottom: 70px;
  z-index: 1;
  // margin-right: 30px;
  background-attachment: fixed;

  .follow-header {
    width: 90%;
    margin-bottom: 5px;

    h2 {
      padding: 20px 0 13px 0;
      font-weight: lighter;
      border-bottom: 1px solid #514B5B;
    }
  }

  .follow-list {
    width: 100%;
    overflow-y: hidden;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-start;

    p {
      width: 80%;
      margin-top: 60px;
      margin-left: 20px;
      font-weight: lighter;
      text-align: center;
    }

    .follow-item {
      display: flex;
      padding: 10px;
      // justify-content: space-between;
      // border: 1px solid white;

      .follow-profile-img {
        height: 40px;
        width: 40px;
        margin: 0 10px;
        border: 1px solid white;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .follow-channel-stream-name {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        // font-weight: lighter;
        width: 150px;
        // border: 1px solid white;

        h3 {
          font-size: 12px;
          font-weight: bold;
        }

        h5 {
          font-size: 11px;
          font-weight: lighter;
        }
      }
    }

    .follow-item:hover {
      background-color: #08060E;
    }
  }

  .follow-list:hover {
    overflow-y: scroll;
  }
}

@media (max-width: 140vh) {
  #follow-bar-placeholder, .follow-container {
    min-width: 0;
    width: 0;
    display: none;
  }
}
