#follow-bar-placeholder {
  min-width: 240px;
  // height: 100%;
  background-color: #19171C;
  z-index: -1;
}

.follow-container {
  position: fixed;
  min-width: 240px;
  height: 100%;
  z-index: 1;
  background-color: #19171C;
  display: flex;
  flex-direction: column;
  color: white;
  // margin-right: 30px;
  background-attachment: fixed;

  .follow-header {
    width: 90%;

    h2 {
      color: white;
      padding: 20px 0 13px 0;
      font-weight: lighter;
      border-bottom: 1px solid #514B5B;
    }
  }

  .follow-list {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .follow-item {
      display: flex;
      justify-content: space-between;

      .follow-profile-img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
