.main-nav {
  display: flex;
  justify-content: space-between;
 //  background-color: rgba(155, 222, 111, .4);
  background-color: #4B367C;
  border-bottom: 1px solid #402968;
  color: white;
 //  opacity: .4;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  // border: 1px solid black;
  width: 15%;
  min-width: 200px;
  padding: 2px 10px;

  // .active {
  //   pointer-events: none;
  //   font-weight: 700;
  // }

}

.left-nav h3:hover {
 text-decoration: underline;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: 'dimis';
    font-size: 30px;
    margin: 5px 10px 0 10px;
  }
}

.right-nav {
  display: flex;
  align-items: center;

  .login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
   //  padding: 15px;
    width: 130px;
    margin-right: 30px;
   //  border: 1px solid black;
  }

  #username-image {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 30px;
      margin-right: 10px;
    }

    #status {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      #notification-box {
        height: 6px;
        width: 6px;
        margin-right: 3px;
        background-color: #14b866;
      }

      h6 {
        font-size: 10px;
        font-weight: lighter;
      }
    }
  }
}

.login-signup h3, #logout-button {
   background-color: #6441A4;
   color: white;
   padding: 7px 7px;
   margin: 2px 0;
   transition: background-color 0.3s;
   font-size: 12px;
   text-align: center;
   box-shadow: 1px 1px 1px #37245B;
}

.login-signup h3 {
  width: 100%;
}

.nav-username-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  width: 240px;
}

#logout-button {
  width: 20%;
}

#logout-button:hover, .login-signup h3:hover {
  background-color: #281A41;
  box-shadow: 0px 0px 0px #37245B;
}
