/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "./reset.scss";
 @import "./grid.scss";

 html {
 	position: relative;
 	height: 100%;
 }

 .main-nav {
   display: flex;
   justify-content: space-between;
   background-color: purple;
   border-bottom: 1px solid grey;
   color: white;
 }

 .left-nav {
   display: flex;
   justify-content: space-around;
   /*border: 1px solid black;*/
   width: 35%;
   padding: 15px;
 }

 .right-nav > .login-signup {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   width: 200px;
   /*border: 1px solid black;*/
 }

 .right-nav > .nav-username-logout {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   width: 300px;
 }

 .main-content {
   height: 740px;
   width: 100%;
   border: 1px solid black;
   background-position: top;
   background-image: url(http://wallpapercave.com/wp/1OPPRPp.jpg);
 }

.auth-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 800px;
  width: 100%;
  // border: 1px solid black;
}

.auth-form-container {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 350px;
  padding: 10px;
}

.login-signup-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  height: 40px;
  padding: 20px;
}

.errors {
  height: 35px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid pink;
  padding: 40px 60px;;
}

.auth-form input{
  background-color: white;
  width: 100%;
  height: 25px;
  border: 1px solid grey;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  border: 1px solid violet;
}

.auth-buttons > input, .auth-buttons > button {
  padding: 5px;
}

.active {
  pointer-events: none;
  font-weight: bold;
}
