/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "./reset.scss";
 @import "./grid.scss";

 html {
 	position: relative;
 	height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  background-position: top;
  background-image: url(http://sdeerwallpaper.com/Cool-Wallpapers/Video-Game-Wallpaper-1080p-Is-Cool-Wallpapers.jpg);
 }

 .main-nav {
   display: flex;
   justify-content: space-between;
   background-color: #5B5650;
   border-bottom: 1px solid grey;
   color: white;
   opacity: 0.6;
   filter: alpha(opacity=60);
 }

 .left-nav {
   display: flex;
   justify-content: space-around;
   /*border: 1px solid black;*/
   width: 35%;
   padding: 15px;
 }

 .right-nav > .login-signup {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   width: 200px;
   /*border: 1px solid black;*/
 }

 .right-nav > .nav-username-logout {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   width: 300px;
 }

 .main-content {
   height: 740px;
   width: 100%;
   border: 1px solid black;
 }

.auth-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 800px;
  // width: 100%;
  // border: 1px solid black;
}

.Modal {
    // position: absolute;
    // top: 20%;
    // left: 37%;
    // right: 37%;
    width: 370px;
    margin: 150px auto;
    // transform: translate(50%, 50%);
  }

.auth-form-container {
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 380px;
  padding: 10px;
  background-color: #FCFAFF;
}

.login-signup-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  height: 40px;
  padding: 20px;
  margin-top: 20px;
}

.errors {
  height: 35px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 60px 40px 60px;
}

.auth-form input{
  background-color: white;
  width: 100%;
  height: 25px;
  border: 1px solid grey;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  border-top: 5px solid darkgrey
}

.auth-buttons > input, .auth-buttons > button {
  background-color: grey;
  border: 1px solid darkgrey;
	color: Black;
  width: 100%;
  color: white;
	font-weight: bold;
	padding: 7px 0;
  margin: 2px 0;
	transition: background-color 0.3s;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
  box-shadow: 1px 1px 1px 1px black;
}

.active {
  pointer-events: none;
  font-weight: 700;
}
