/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Fonts
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
 @font-face {
    font-family: 'dimis';
    src: font-url('dimitri/DIMIS___.TTF');
  }
 @font-face {
    font-family: 'dimitri';
    src: font-url('dimitri/DIMITRI_.TTF');
  }

 // For Logo
 @import "font-awesome-sprockets";
 @import "font-awesome";

 // Base CSS
 @import "./base/reset.scss";
 @import "./base/grid.scss";
 @import "./base/content.scss";
 @import "./base/navbar.scss";

 // API CSS
 @import "./api/authform.scss";
